/* Общие стили */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

#filters {
    text-align: center;
    margin-bottom: 20px;
}

#category {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000;
}

#reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review {
    background-color: #ffdd2d;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.review p {
    font-size: 16px;
    margin: 5px 0;
}

.review button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.175s;
}

.review button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.analysis-result {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000;
}

/* Стили для Markdown-разметки */
.markdown-container {
    margin-top: 10px;
}

.markdown-container h1 {
    font-size: 28px;
}

.markdown-container h2 {
    font-size: 24px;
}

.markdown-container h3 {
    font-size: 20px;
}

.markdown-container p {
    font-size: 16px;
    line-height: 1.5;
}

.markdown-container ul,
.markdown-container ol {
    margin-left: 20px;
}

.markdown-container ul li,
.markdown-container ol li {
    margin-bottom: 5px;
}

.markdown-container blockquote {
    margin: 10px 0;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-left: 5px solid #ffdd2d;
}

/* Анимация для отображения результатов анализа */
.analysis-result {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.review.analyzed .analysis-result {
    opacity: 1;
    max-height: 500px; /* Увеличьте значение, если содержимое не помещается */
}

.category {
    margin: 5px; /* Отступ */
    margin-left: 0px;
    padding: 5px 10px; /* Внутренние отступы */
    background-color: #ffc72d; /* Цвет фона (желтый) */
    color: #000000; /* Цвет текста (черный) */
    border-radius: 5px; /* Радиус скругления углов */
    display: inline-block; /* Отображать как блочный элемент, чтобы учитывать ширину содержимого */
}

#personal-cabinet-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffdd2d; /* Зеленый цвет кнопки */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#personal-cabinet-btn:hover {
    background-color: #ffc72d; /* Темно-зеленый цвет кнопки при наведении */
}
